.weather-page {
  display: flex;
  justify-content: space-between;
}

.weather-icon-display {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon-large {
  width: 150px;
}

.weather-data {
  width: 60%;
}

.weather-current {
  display: flex;
  font-size: 72px;
  justify-content: center;
  align-items: center;
}

.weather-forecast {
  width: 40%;
  margin-left: 25%;
}

.weather-forecast-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-forecast-image {
  max-height: 20px;
}